// Themes
$themes: (
  musictree: (
    backgroundColor: lighten($bg-grey, 5%),
    textColor: $off-black,
    dashText: $off-white,
    textColorOpposite: $off-white,
    hoverColor: $accent-red,
    linkHoverColor: darken($accent-red, 20%),
    dashBackground: lighten($off-black, 10%),
    aboutContainerBackground: white,
    teamMember: $accent-red,
    teamMemberCircle: $off-black,
    shadow: #888888,
    lightShadow: #adadad,
    teamMemberText: $off-black,
    input: $off-black,
    savedVidBackground: $bg-grey,
    navBarBackground: white,
    navBarIcon: #333,
    themeSelect: #333,
    formLabel: $accent-light-blue,
  ),
  